<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Deletion</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <div style="background-color: #f4f4f4; padding: 20px;">
        <h2 style="color: #333;">Product Deletion</h2>
        <p>Hello {{user.fullname}},</p>
        <p>We want to inform you that one of your products has been removed from our platform:</p>
        <ul>
            <li><strong>Product Name:</strong> {{product.title}}</li>
            <li><strong>Description:</strong> {{product.description}}</li>
            <li><strong>Price:</strong> {{product.price}}</li>
        </ul>
        <p>We apologize for any inconvenience this may cause you. If you have any questions or need further information, feel free to contact us.</p>
        <p>Best regards,<br> E-commerce</p>
    </div>

</body>
</html>